<ion-view view-title="change password" cache-view="false" ng-controller="changePasswordCtrl" ng-init="hideBell()" hide-back-button="false">
    <ion-content class="bg padding">

        <div class="row row--logo">
            <div class="col">
                <i class="svg-kmedix-logo kmedix-logo-img"></i>
            </div>
        </div>

        <div class="row">
            <div class="col col-offset-10 col-80">
                <input type="text" placeholder="{{myEmail}}" class="sl_input  sl_input--no-border" ng-disabled="true">
                <!-- sl_input--username-disabled  disabled-->
            </div>
        </div>

        <div class="row">
            <div class="col col-offset-10 col-80">
                <input type="password" placeholder="Password" class="sl_input sl_input--view" ng-model="resetData.oldPassword">
            </div>
        </div>

        <div class="row">
            <div class="col col-offset-10 col-80">
                <input type="text" placeholder="password123" class="sl_input sl_input--view sl_input--view-disabled" ng-model="resetData.newPassword">
            </div>
        </div>


        <div class="row">
            <div class="col col-offset-10 col-80">
                <input type="text" placeholder="Confirm password" class="sl_input sl_input--password sl_input--disabled" ng-model="resetData.newPasswordConfirmation">
            </div>
        </div>

        <div class="row">
            <div class="col col-offset-10 col-80">
                <button class="button button-block sl_btn--md icon-right svg-still_need_support_icon" ng-click="resetPassword(resetData, myUsername)">
			CHANGE PASSWORD
			</button>
            </div>
        </div>

    </ion-content>
</ion-view>