.col-85 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 85%;
	-moz-box-flex: 0;
	-moz-flex: 0 0 85%;
	-ms-flex: 0 0 85%;
	flex: 0 0 85%;
	max-width: 85%;
}


.col-15 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 15%;
	-moz-box-flex: 0;
	-moz-flex: 0 0 15%;
	-ms-flex: 0 0 15%;
	flex: 0 0 15%;
	max-width: 15%;
}
