$blue-1: #52ACD3; // header, two-btns, technical-support
$blue-2: #4492B4; // technical-support-icon
$blue-3: #3482A4; // medical-support
$blue-4: #216C8C; // medical-support-icon
$blue-5: #247294; // sales-request
$blue-6: #0B5A7C; // sales-request-icon
$blue-7: #145977; // complain-to-managment, request-datail-title
$blue-8: #0F4C67; // complain-to-managment-icon
$blue-9: #21275A;
$blue-10: #1D93C5;
$red-1: #F1423F; // complain-to-managment-icon
$red-2: #D51310;
$red-3: #D50000;
$red-4: #FF5252;
$gray-1: #DEDEDE;
$bg: #F2FCFF;
$green-1: #689F38;
$red-1: #F1423F;
$yellow-1: #FBC02D;

/*
*  $color_main
*  Бирюзовый цвет
*  Используется для nav_bar, границы input
*  и некоторых кнопок
*/

$color_main: #52acd3;
$color_button-nav: #145977;