<ion-view view-title="change password">
	<ion-content class="bg padding">

	<div class="row logo-clinic">
		<div class="col col-40">
			<img src="./img/heart.png" alt="">
		</div>
		<div class="col col-60">
			<p>Dar-Alshifa<br>Clinic</p>
		</div>
	</div>

	<div class="row">
		<div class="col col-offset-10 col-80">
			<input type="text" placeholder="Username" class="sl_input sl_input--username-disabled sl_input--no-border" disabled>
		</div>
	</div>

	<div class="row">
		<div class="col col-offset-10 col-80">
			<input type="password" placeholder="Password" class="sl_input sl_input--view">
		</div>
	</div>

	<div class="row">
		<div class="col col-offset-10 col-80">
			<input type="text" placeholder="password123" class="sl_input sl_input--view sl_input--view-disabled">
		</div>
	</div>


	<div class="row">
		<div class="col col-offset-10 col-80">
			<input type="text" placeholder="Confirm password" class="sl_input sl_input--password sl_input--disabled" disabled>
		</div>
	</div>

	<div class="row">
		<div class="col col-offset-10 col-80">
			<button class="button button-block sl_btn--md icon-right svg-still_need_support_icon">
			CHANGE PASSWORD
			</button>
		</div>
	</div>

	</ion-content>
</ion-view>