<ion-view view-title="request details" id="request-details">
  <ion-content class="bg padding">
    <div class="row pb0">
      <div class="col pb0">
        <span class="title-header fwb">Completed</span>
        <i class="img-header svg-complete_icon"></i>
        <p class="text-header">Waiting your feedback</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider card-title">
        DEV45600 duetto device
      </div>
      <div class="item item-text-wrap">
        <p class="title">Description</p>
        <p class="text">Kidney stones are very hard mineral deposits that happen to form in the kidney. They start off like a small microscopic particle and after a period of time develop into stones. These are formed when urine is highly concentrated. Due to this level of concentration the minerals and other floating particles in urine form into crystals which over a period of time turn into hard mass and later into a stone. Finding out kidney stones is not that easy as there may not be any sign or symptom to detect it. These stones cause lot of pain when it happens to break and move towards the bladder.</p>
      </div>
    <div class="item item-divider card-footer">
        <div class="row">
            <div class="col">
                <p class="title">Attended by</p>
                <p class="text-2 fwb">Eng. Kareem</p>
                <p class="text-3">9988559844</p>
            </div>
            <div class="col">
                <p class="title">Attendance date</p>
                <p class="text-2 fwb">Today, 2:00 PM</p>
            </div>
        </div>
      </div>

    </div>


    <div class="row p0">
      <div class="col pl0">
        <a ui-sref="app.change-password" class="button button-block two-btns icon-right svg-still_need_support_icon">still need support</a>
      </div>
      <div class="col pr0">
        <a ui-sref="app.home-page" class="button button-block two-btns two-btns__red icon-right svg-close_request_icon">close request</a>
      </div>
    </div>


  </ion-content>
</ion-view>