<ion-view view-title="technical support"  id="technical-support">
  <ion-content class="bg padding">
    <div class="row">
    	<div class="col image-wrapper">
    		<img src="img/clinic.png" alt="">
    	</div>
    </div>

    <div class="card">
      <div class="item item-divider card-title">
        DEV45600 duetto device
      </div>
      <div class="item item-text-wrap">
        <div class="row">
            <div class="col">
                <p class="text-2 title">Install date</p>
                <p class="text-2 fwb">12/04/2015</p>
            </div>
            <div class="col">
                <p class="text-2 title">Warranty ends at</p>
                <p class="text-2 fwb">12/04/2017</p>
            </div>
        </div>
      </div>
</div>

    <div class="card">
       <textarea name="descr" placeholder="Enter Issue Description:"></textarea>
    </div>

<div class="row">
	<div class="col pl0 pr0">
		<span class="text-2 title fz-2">3 images attached</span>
	</div>
	<div class="col pl0 pr0">
		<button class="button t-btn t-btn-l icon-right svg-gallery_icon2" ng-click="upload()">
		  Gallery
		</button>
	</div>
	<div class="col pl0 pr0">
		<button class="button t-btn t-btn-r icon-right svg-camera_icon2">
		  Camera
		</button>
	</div>
</div>




    <button class="button button-block btn-lg">send request</button>
  </ion-content>
</ion-view>