[nav-bar-transition="ios"] [nav-bar="active"] .bar,
[nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: $blue-1;
    text-align: center;
}

[nav-bar-transition="android"] [nav-bar="active"] .bar,
[nav-bar-transition="android"] [nav-bar="entering"] .bar {
    background: $blue-1;
    text-align: center;
}

.title.title-left.header-item {
    position: absolute;
    left: 20%!important;
    width: 60%;
    z-index: 1;
    text-align: center;
    margin: 0;
}

.bar.header {
    border-color: transparent;
}

.header .button.button-clear {
    color: #fff;
}

.bar.header .title {
    color: #fff;
    font-size: 14px;
}

.bar .title {
    text-transform: uppercase;
}